<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product information</title>
</head>
<body>
    <h1>Product</h1>
    <h3><%= Name %></h3>
    <h3><%= Type %></h3>
    <h3><%= Date %></h3>
    <h3><%= Code %></h3>
    <img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*jeVt66x40MMSUv6YaRXwAA.png" name="Image"/>
</body>
</html>
</html>