<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User information</title>
</head>
<body>
    <h1>Hello user</h1>
    <h3><%= name %></h3>
    <h3><%= email %></h3>
    <h3><%= address %></h3>
</body>
</html>
</html>