<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management</title>
  <script src="/scripts.js"></script>
</head>
<body>
  <h1>User Management</h1>
  
  <h2>Add User</h2>
  <form action="/addUser" method="POST">
    UserId: <input type="text" name="UserId"><br>
    Username: <input type="text" name="Username"><br>
    Fullname: <input type="text" name="Fullname"><br>
    Address: <input type="text" name="Address"><br>
    <button type="submit">Add User</button>
  </form>
  
  <h2>User List</h2>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <%= user.Fullname %> - <%= user.Address %>
        <form class="delete-form" action="/deleteUser" method="POST">
          <input type="hidden" name="UserId" value="<%= user.UserId %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
