<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <style>
        form{
            width: 100%;
        }
        input{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Add Student</h1>
    <form id="addStudentForm">
        <table>
            <tr>
                <td><input type="number" name="userId" placeholder="UserID"></td>
            </tr>
            <tr>
                <td><input type="text" name="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><input type="text" name="fullname" placeholder="Fullname"></td>
            </tr>
            <tr>
                <td><input type="text" name="address" placeholder="Address"></td>
            </tr>
            <tr>
                <td><button type="submit">Add Student</button></td>
            </tr>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#addStudentForm").submit(function(event) {
                event.preventDefault();

                var formData = $(this).serialize();
                alert(formData);
                $.ajax({
                    type: "POST",
                    url: "/add",
                    data: formData,
                    success: function(response) {
                        alert("Student added successfully");
                    },
                    error: function(error) {
                        alert("Error adding student");
                    }
                });
            });
        });
    </script>
</body>
</html>
