doctype html 
html 
    head 
        title Jade Page 
    body 
        h1 This page is produced by Jade engine 
        p some paragraph here...
        img(src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*jeVt66x40MMSUv6YaRXwAA.png" name="image" alt="")